<template>
    <div class="copang-item-info">
        <div class="item-image"><img :src="imagePath" alt="제품 사진"/></div>
        <div class="item-name">{{itemName}}</div>
        <div class="item-price">{{itemPrice | currency }}원<img src="/images/rocket.png" alt="로켓배송" /></div>
        <div class="item-delivery">{{itemDelivery}}</div>
        <div class="item-point"><img src="/images/coin.png" alt="포인트" />최대 {{itemPoint | currency}}원 적립</div>
    </div>
</template>

<script>
export default{
    props: {
        imagePath: {
            type: String,
            required: true
        },
        itemName: {
            type: String,
            required: true
        },
        itemPrice: {
            type: Number,
            required: true
        },
        itemDelivery: {
            type: String,
            required: true
        },
        itemPoint: {
            type: Number,
            required: true
        }
    }
}
</script>
