div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}
span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}
div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}

div>section{
    width:auto;
    display:flex;
    justify-content:space-around;
}
div.copang-item-info{
    padding:20px;
    width:200px;
    margin:0 40px;
    height:350px;
}
div.copang-item-info:hover{
    -webkit-box-shadow: 0 5px 10px 10px #DBDBDB;
    box-shadow: 0 5px 10px 10px #DBDBDB;
}
div .copang-item-info > div {
    line-height:30px;
}
.item-price{
    color:#ac0c0c; font-weight:bold; font-size:1.2em;
    position:relative;
}
.item-price>img{
    width:70px; position:absolute;
    top:20%;
}
.item-delivery{
    color:green; font-weight:500; margin-bottom:10px;
    font-size:1.2em;
}
.item-point{
    border: #b3b3b3 solid 1px; border-radius : 20px;
    width:130px; padding-left:30px;
    position:relative;
}
.item-point>img{
    height:20px;
    position:absolute;
    top:20%; left:2.2%;
}
div>h1{
    font-size:1.6em;
    font-weight:bold;
    text-align:center;
    padding:20px 0px;
}
div.copang-item-info>.item-image>img{
    width:200px;
}
