<template>
    <div>
        <h1>생활용품</h1>
        <section>
            <copang-item-info
                v-for="(item, index) in copang"
                v-bind:key="index"
                v-bind:item-name="item.copangName"
                v-bind:image-path="item.copangImage"
                v-bind:item-delivery="item.copangDelivery"
                v-bind:item-price="item.copangPrice"
                v-bind:item-point="item.copangPoint"
            />
        </section>
    </div>
</template>

<script>
export default{
    data() {
        return {
            copang: [
                {
                    copangImage: '/images/copang1.jpg',
                    copangName: '일상공감 풍새막이',
                    copangPrice: 13400,
                    copangDelivery: '내일(수) 도착 보장',
                    copangPoint: 670
                },
                {
                    copangImage: '/images/copang2.jpg',
                    copangName: '코멧 빨래건조대',
                    copangPrice: 22810,
                    copangDelivery: '내일(수) 도착 보장',
                    copangPoint: 1140
                },
                {
                    copangImage: '/images/copang3.png',
                    copangName: '페브리즈 비치형',
                    copangPrice: 17190,
                    copangDelivery: '내일(수) 도착 보장',
                    copangPoint: 860
                },
                {
                    copangImage: '/images/copang4.jpg',
                    copangName: '탐사 포켓용 핫팩',
                    copangPrice: 17990,
                    copangDelivery: '내일(수) 도착 보장',
                    copangPoint: 900
                },
                {
                    copangImage: '/images/copang5.png',
                    copangName: '코멧 5단 서랍장',
                    copangPrice: 29900,
                    copangDelivery: '내일(수) 도착 보장',
                    copangPoint: 1495
                }
            ]
        }
    }
}
</script>
